<%= form_for(@dataset) do |f| %>
  <% if @dataset.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dataset.errors.count, "error") %> prohibited this dataset from being saved:</h2>

      <ul>
      <% @dataset.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group col-xs-2">
    <%= f.label :file, "Upload CSV File" %><br>
    <%= f.file_field :file, :class => 'btn btn-primary btn-sm' %>
  </div>

   <div class="field form-group col-xs-2">
    <%= f.label :zipfile, "Upload Zip File" %><br>
    <%= f.file_field :zipfile, :class => 'btn btn-primary btn-sm' %>
  </div> 

  <div class="field form-group col-xs-2">
    <%= f.label :batch, "Batch", :class => 'sr-only' %><br>
    <%= f.text_field :batch, :class => 'form-control', :placeholder => "Batch Name" %>
  </div>  

  <div class="actions form-group col-xs-2">
    <%= f.submit "Compare CSV & Zip", :class => 'btn btn-success btn-block' %>
  </div>
<% end %>
