<p id="notice"><%= notice %></p>

<p>
  <strong>Dataset name:</strong>
  <%= @dataset.dataset_name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @dataset.description %>
</p>

<table border="1">
  <thead>
    <tr>
    <% @dataset.records.first.data.keys.each do |key| %>
      <th><%= key.capitalize %></th>
    <% end %>
      <th><%= "File" %></th>
    </tr>
  </thead>
	<tbody>
	  <% @dataset.records.each do |record| %>
	    <tr>
	      <% record.data.values.each do |value| %>
	        <td><%= value %></td>
	      <% end %>
          <% if record.pdf_file_name.nil?  %>
            <td><%= puts "Sorry" %></td>
          <% else %>
            <td><%= record.pdf_file_name.split('-').last %></td>
          <% end %>
      </tr> 

	  <% end %>
	  </tbody>
	 
</table>


<%= link_to 'Edit', edit_dataset_path(@dataset) %> |
<%= link_to 'Back', datasets_path %>
