<%= form_for @batch do |f| %>
<%#= form_for(@batch) do |f| %>
  <% if @batch.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@batch.errors.count, "error") %> prohibited this dataset from being saved:</h2>

      <ul>
      <% @batch.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="form-group">
    <%= f.label :batch, "Batch", :class => 'sr-only' %><br>
    <%= f.text_field :batch, :class => 'form-control', :placeholder => "Batch Name" %>
  </div>  

  <div class="form-group col-md-6">
    <%= f.label :file, "Upload CSV File" %><br>
    <%= f.file_field :file, :class => 'btn btn-primary btn-sm' %>
  </div>

   <div class="form-group col-md-6">
    <%= f.label :zipfile, "Upload Zip File" %><br>
    <%= f.file_field :zipfile, :class => 'btn btn-primary btn-sm' %>
  </div> 

   <div id="loading" style="display:none;">
    <%= image_tag("ajax-loader.gif") %>
    <!-- <img src="ajax-loader.gif" alt="Loading" /> -->
  </div>  


  <div class="action form-group col-xs-2">
    <%= f.submit "Compare CSV & Zip", :class => 'ajax btn btn-success btn-block' %>
  </div>

<% end %>
