<!DOCTYPE html>
<html>
<head>
  <title>KS</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container container-fluid">

<div class="row">
<!--   <div classl="col-md-4">
    <p class="notice bg-success"><%#= notice %></p>
    <p class="alert bg-warning"><%#= alert %></p
  </div> -->

  <% if user_signed_in? %>

  <div class="col-xs-12 col-md-8">
      Welcome, <strong><%= current_user.email %>.</strong>
  </div>
  <div class="col-xs-6 col-md-4">
    <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
  </div>
      
    <% else %>
    <div class="col-xs-12 col-md-8">
      <%= link_to "Sign up", new_user_registration_path %> or <%= link_to "sign in", new_user_session_path %>
      </div>
    <% end %>  

  </div>


<%= yield %>

</div>

</body>
</html>
